<div class="container">

  <h2><%= @post.title %></h2>
  <p><%= @post.body %></p>

  <%= link_to "Edit", edit_post_path(@post), class: "btn btn-primary" %>
  <%= link_to "Delete", post_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</div>

<div id="comments">
  <h2><%= @post.comments.count %> Comments</h2>
  <%= render @post.comments %>
  <h3>Add a comment:</h3>
  <%= render "comments/form" %>
</div>
